

.calendar {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 6px groove black;
    border-top-style: dotted;
    padding: 10px;
    padding-top: 30px;
    border-radius: 20px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .calendar-header button{
    background-color: transparent;
    color: #000000;
    text-decoration: underline;
    border: 1px solid #ccc;
  }
 
  .day-names{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .dayName{
    /* width: 70px; */
    border: 1px solid #ccc;
    text-align: center;
  }
  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendar-day {
    /* width: 70px; */
    height: 70px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

  }
  .sunday{
    background-color: rgba(255, 204, 0, 0.284);
  }
  .calendar-day-task{
    position: relative;
    cursor: pointer;
    background-color: rgba(211, 2, 92, 0.235);
  }
 
  .calendar-day-task i{
    color: green;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
  }
  
  .empty {
    background-color: transparent; /* Optional: Make empty days lighter */
  }
  
  @media screen and (max-width:767px) {
    .calendar {
      width: 95%;
    }
    .calendar-day {
      height: 50px;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .calendar-day-task i{
      color: green;
      position: absolute;
      bottom: 2px;
      right: 5px;
      font-size: 12px;
    }
  }